//
// Tabs
// Requires: _navbar.scss, _paper.scss, _protocol.scss;
// --------------------------------------------------

.nav-protocol {
	position: absolute;
	bottom: #{-($paperbottomMargin + $baseLineHeight + $protocolTabPadding + 4)}; // 3 = 2*paperBorder + 2*tabBorder
	left: -1px;
}
.nav-protocol > li {
	float: left;
}
.nav-protocol > li > a {
	padding: $protocolTabPadding 12px;
	margin-right: 4px;
	background-color: $white;
	line-height: $baseLineHeight;
	color: lighten($textColor, 50%);
	border: 1px solid  #{$paperBorderColor};

	@include gradient-vertical(#f2f2f2, #f9f9f9);
	@include border-radius(0 0 4px 4px);
	@include box-shadow('inset 0px 2px 2px -1px rgba(0, 0, 0, 0.22), 1px 1px 2px rgba(0, 0, 0, 0.1)');

	&:hover {
		color: $protocolTabActiveColor;
		background: $white;
	}
}
// Active state, and it's :hover to override normal :hover
.nav-protocol > .active > a,
.nav-protocol > .active > a:hover {
	color: $protocolTabActiveColor;
	cursor: default;
	background: $white;
	border-top: transparent;
	@include box-shadow('1px 2px 2px rgba(0, 0, 0, 0.16)');
}
